
#basic-addon2 {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.form-control {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;

}
