<style>
  .container {
    position: relative;
    width: 70%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 15px;
    box-sizing: border-box;
  }
</style>
<!-- <div class="row">
  <div class="col-3">
    <nav class="head" style="margin-left:20px !important">
      <div class="row">
        <div class="col-1">
          <a class="navbar-brand">Endorsly</a>
        </div>
        <div class="col">
          <button *ngIf="!loggedState" type="button" class="btn btn-default btn-sharp outline" style="float:right" (click)="goToLogin()">Login</button>
          <button *ngIf="loggedState" type="button" class="btn btn-default outline" style="float:right" (click)="goToLogin()">Logout</button>
        </div>
      </div>
      <hr>
    </nav>
  </div>
</div> -->
<header class="header">
  <div class="page-title">
    <h4>endorsly</h4>
  </div>
  <div class="header-content-wrapper">
    <form class="search-bar w-search notification-list friend-requests">
      <div class="form-group with-button">
        <input class="form-control js-user-search" placeholder="Search users..." type="text">
      </div>
    </form>
    <div class="control-block" *ngIf="!loggedState">
      <!-- <button *ngIf="!loggedState" type="button" class="btn btn-default btn-sharp outline login" style="float:right" (click)="goToLogin()">Login</button> -->
      <login></login>
    </div>
    <app-nav-bar *ngIf="loggedState"></app-nav-bar>
  </div>
</header>
<!-- <router-outlet></router-outlet> -->
