<!-- <div class="container upload-modal">
  <div *ngIf="!connex">
    <p>Follow these instructions to download your contacts CSV file from LinkedIn and then upload the file below.</p> <br>
    <div class="fileUpload btn btn-primary btn-confirm">
      <span>Upload</span>
      <input type="file" class="upload" (change)="changeListener($event)" />
    </div>
    <hr>
  </div>
  <div *ngIf="connex && !requestConfirmation && currentProfile.endorsements > 0">
    <h4>Select connections to invite</h4>
    <label>Filter by last name: <input [(ngModel)]="searchText.lastName"></label><br>
    <h5>You have <span style="color:lightgreen">{{ currentProfile.endorsements }}</span> endorsements remaining</h5>
    <button class="btn btn-primary btn-confirm" (click)="advanceToConfirmation()">Done</button>
    <ul class="connex">
      <li class="badge" *ngFor="let profile of incomingProfiles" [ngClass]="{'active-badge': profile.active }" (click)="onSelect(profile)" [class.selected]="isInvited(profile)">
        <span *ngIf="profile.active"><i class="fa fa-star fa-2x"></i></span>

        <span *ngIf="profile.active" class="image-cropper center-block">
          <img src="../../assets/placeholder.jpg" />
        </span>
        <span style="float:right;">{{ profile.fullName }} | {{ profile.position }} | {{ profile.company }}</span>
      </li>
    </ul>
  </div>
  <div *ngIf="currentProfile.endorsements < 1">
    <h5>You are out of endorsements</h5>
  </div>
  <div *ngIf="requestConfirmation">
    <h4>Your invites</h4>
    <button class="btn btn-primary btn-confirm" (click)="confirmInvites()">Confirm invitations</button>
    <ul class="invites">
      <li class="badge" *ngFor="let invite of invites">
        {{ invite.firstName }} {{ invite.lastName }}
      </li>
    </ul>
  </div>
</div> -->

<div class="modal-dialog" *ngIf="incomingProfiles.length < 1 && !requestConfirmation">
  <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
			<svg class="olymp-close-icon"><use xlink:href="icons/icons.svg#olymp-close-icon"></use></svg>
		</a>

  <div class="ui-block-title">
    <h6 class="title">Upload LinkedIn Contacts</h6>
    <small class="text-muted">(Follow instructions for downloading your LinkedIn contacts CSV file here.)</small></div>

  <a href="#" class="upload-photo-item">
    <a href="#" class="fileUpload btn btn-primary btn-lg btn--half-width">
      Upload
      <input type="file" class="upload" (change)="changeListener($event)" />
    </a>
  </a>
</div>

<div class="modal-dialog" *ngIf="incomingProfiles.length > 0 && !requestConfirmation">
  <div class="ui-block-title">
    <h6 class="title">Select profiles to invite ... </h6><br>
    <button class="btn btn-primary btn-lg btn--full-width" (click)="advanceToConfirmation()">Done</button>
  </div>
  <div class="ui-block contact-item author-name" *ngFor="let profile of incomingProfiles" [ngClass]="{'active-badge': profile.active }" (click)="onSelect(profile)" [class.selected]="isInvited(profile)">
    <span class="author-title"><strong>{{ profile.fullName }}</strong></span>
  </div>
</div>

<div *ngIf="requestConfirmation" class="confirm-window">
  <div class="ui-block-title">
    <h6>Your invites</h6>
  </div>
  <div class="ui-block-content">
    <a href="#" class="btn btn-secondary btn-cancel btn-lg btn--half-width">Cancel<div class="ripple-container"></div></a>
    <a href="#" class="btn btn-primary btn-lg btn--half-width" (click)="confirmInvites()">Confirm invitations<div class="ripple-container"></div></a>
  </div>
  <ul class="invites">
    <li class="ui-block contact-item author-name" *ngFor="let invite of invites">
      {{ invite.firstName }} {{ invite.lastName }}
    </li>
  </ul>
</div>
