<div class="container upload-modal">
  <div *ngIf="!connex">
    <p>Follow these instructions to download your contacts CSV file from LinkedIn and then upload the file below.</p> <br>
    <div class="fileUpload btn btn-primary btn-confirm">
      <span>Upload</span>
      <input type="file" class="upload" (change)="changeListener($event)" />
    </div>
    <hr>
  </div>
  <div *ngIf="connex && !requestConfirmation && currentProfile.endorsements > 0">
    <h4>Select connections to invite</h4>
    <label>Filter by last name: <input [(ngModel)]="searchText.lastName"></label><br>
    <h5>You have <span style="color:lightgreen">{{ currentProfile.endorsements }}</span> endorsements remaining</h5>
    <button class="btn btn-primary btn-confirm" (click)="advanceToConfirmation()">Done</button>
    <!-- <ul class="connex">
      <li class="badge" *ngFor="let contact of connex" (click)="onSelect(contact)" [class.selected]="isInvited(contact)">
        <span *ngIf="contact[3]"><i class="fa fa-star fa-sm"></i></span> <span>{{ contact[0] }} {{ contact[1] }}</span>
        <span class="image-cropper center-block">
          <img src="../../assets/placeholder.jpg" />
        </span>
      </li>
    </ul> -->
    <ul class="connex">
      <li class="badge" *ngFor="let profile of incomingProfiles" [ngClass]="{'active-badge': profile.active }" (click)="onSelect(profile)" [class.selected]="isInvited(profile)">
        <span *ngIf="profile.active"><i class="fa fa-star fa-2x"></i></span>

        <span *ngIf="profile.active" class="image-cropper center-block">
          <img src="../../assets/placeholder.jpg" />
        </span>
        <span style="float:right;">{{ profile.fullName }} | {{ profile.position }} | {{ profile.company }}</span>
      </li>
    </ul>
  </div>
  <div *ngIf="currentProfile.endorsements < 1">
    <h5>You are out of endorsements</h5>
  </div>
  <div *ngIf="requestConfirmation">
    <h4>Your invites</h4>
    <button class="btn btn-primary btn-confirm" (click)="confirmInvites()">Confirm invitations</button>
    <ul class="invites">
      <li class="badge" *ngFor="let invite of invites">
        {{ invite.firstName }} {{ invite.lastName }}
      </li>
    </ul>
  </div>
</div>
