<!-- <div class="row">
  <div class="col-3">
    <div *ngIf="currentProfile" style="margin-left:20px !important">
      <div class="profile-info">
        <div class="profile-name">{{ currentProfile.firstName }} {{ currentProfile.lastName }}
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col">
            <div class="image-cropper center-block">
              <img [src]="currentProfile.publicProfileUrl" />
            </div>
          </div>
          <div class="col"></div>
        </div>
        <div class="row">
          <div class="col">
            <div class="profile-status text-center">{{ currentProfile.position }}</div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="lead text-center">{{ currentProfile.location }}</div>
          </div>
        </div>

        <div class="row">
          <div class="col">

          </div>
          <div class="col" style="text-align:center">
            <div class="number-circle">{{ currentProfile.endorsementsReceived }}</div>
          </div>
          <div class="col">

          </div>
        </div>
        <br><br>
        <div class="row">

          <div class="col">
            <div class="text-center">Import contacts <span style="cursor: pointer; color: blue;font-size:small"><i class="fa fa-upload" (click)="openImport()"></i></span></div>
          </div>

        </div>
      </div>
      <hr>
      <search-bar (onSearch)="onSearch($event)"></search-bar>
    </div>
  </div>
  <div class="col-5˜">
    <div *ngIf="searchTerm.length > 0">
      <app-search-output [searchTerm]="searchTerm" [currentProfiles]="profiles"></app-search-output>
    </div>
  </div> -->

<div class="container">
  <div class="row">
    <div class="col-xl-8 offset-xl-2 col-md-8 offset-md-2">
      <div class="ui-block">
        <div class="top-header">
          <div class="top-header-thumb">
            <img src="../../assets/background.jpg">
          </div>
          <div class="profile-section">
            <div class="row">
              <div class="col-lg-5 col-md-5 ">
                <ul class="profile-menu">
                  <!-- <li *ngIf="viewedProfile">
                    <a href="#" class="btn btn-control bg-blue">{{ viewedProfile?.endorsementsReceived }}</a><span style="vertical-align: bottom">Endorsements</span>
                  </li> -->
                  <li>
                    <a href="#">Summary</a>
                  </li>
                  <li>
                    <a href="#">Positions</a>
                  </li>
                </ul>

              </div>
              <div class="col-lg-5 offset-lg-2 col-md-5 offset-md-2">
                <ul class="profile-menu">
                  <!-- <li *ngIf="viewedProfile">
                    <a href="#" class="btn btn-control bg-blue">{{ viewedProfile?.endorsementsReceived }}</a><span style="vertical-align: bottom">Endorsements</span>
                  </li> -->
                  <li>
                    <a href="#">Skills</a>
                  </li>
                  <li>
                    <a href="#">Endorsements</a>
                  </li>
                </ul>

              </div>

            </div>
            <div class="control-block-button">
              <a class="btn btn-control bg-purple" placement="top" ngbTooltip="Members endorsed">
                  {{ viewedProfile?.endorsements }}
                <div class="ripple-container"></div>
              </a>
              <a class="btn btn-control bg-blue" placement="top" ngbTooltip="Current endorsements">
                  {{ viewedProfile?.endorsementsReceived }}
                <div class="ripple-container"></div>
              </a>
              <a class="btn btn-control bg-green" placement="top" ngbTooltip="Endorse this member" (click)="endorseViewedProfile()" *ngIf="currentProfile">
                  <svg class="olymp-plus-icon plus-sign"><use xlink:href="assets/icons.svg#olymp-plus-icon"></use></svg>

                <div class="ripple-container"></div>
              </a>
              <a class="btn btn-control bg-green inactive-endorser" placement="top" ngbTooltip="You must be logged in to endorse" *ngIf="!currentProfile">
                  <svg class="olymp-plus-icon plus-sign"><use xlink:href="assets/icons.svg#olymp-plus-icon"></use></svg>

                <div class="ripple-container"></div>
              </a>
            </div>
            <div class="row">

            </div>
          </div>
          <div class="top-header-author">
            <a href="#" class="author-thumb">
              <img src="../../assets/ack.jpg" >
            </a>
            <div class="author-content">
              <a href="#" class="h4 author-name">{{ viewedProfile?.fullName }}</a>
              <div class="country" *ngIf="viewedProfile?.position">{{ viewedProfile?.position }}</div>
              <div class="country" *ngIf="!viewedProfile?.position"> Inactive Member </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
