.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.top-header-thumb img{
  width: 100%;
}

.btn-control {
  margin: 0 !important;
  display: inline-block;
  margin-right: 9px !important;
  line-height: 49px;
}

.menu-right {
  color: darkgrey;
  line-height: 100%;
}

.profile-menu{
    padding-left: 7px;
}



.profiles {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  padding-top: 20px;
  width: 15em;
}
.profiles li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;

}

.profiles li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.profiles li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.profiles .text {
  position: relative;
  top: -3px;
}
.profiles .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.basic-card {
  display: inline-block;
  background-color: white;
  color: black;
  margin: 30px;
  padding: 17px;
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: black;

  width: 35%;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.profile-name {
  padding-bottom: 5px;
  font-size: x-large;
  text-align: center;
}

.panel-profile {
  background-color: #607D9F;
}

.profile-status{
  color:darkgrey;
  font-size: large;
  text-align: center;
}

.profile-info{
  padding-bottom: 15px;
  padding-top: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #f2f2f2;
}

.profile-endorse{
  font-size: medium;
}


.image-cropper {
    width: 70px;
    height: 70px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

img {
    display: inline;
    margin: 0 auto;
    height: 110%;
    width: auto;
}

.number-circle {
  background: #513689;
  border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 3.1em;
  margin-bottom: 5px;
  margin-top: 15px;
  text-align: center;
  width: 3.1em;
}



.plus-sign {
    height: 35px;
    width: 35px;
    padding-top: 12px;
}

.endorse-box {
    padding-top: 12px;
}

.btn-control:hover {
    opacity: .7;
}

.btn-control{
    color: white !important;
    cursor: pointer;
}

.inactive-endorser {
    cursor: not-allowed;
    
}
