<div *ngIf="currentProfiles" class="profile-list">
  <h4>Select profiles to endorse</h4>
  <label>Search by last name: <input [(ngModel)]="searchText.lastName"></label><br>
  <button class="btn btn-default outline btn-sharp" (click)="showAll = true">show all</button>
  <ul class="connex" *ngIf="searchText.lastName.length > 1 || showAll">
    <li class="badge" *ngFor="let profile of currentProfiles | filterBy: searchText" (click)="addEndorsementToProfile(profile)">
      <h4 style="float:left">{{ profile.endorsementsReceived }}</h4>
      <span class="image-cropper center-block" *ngIf="profile.publicProfileUrl">
        <img [src]="profile.publicProfileUrl" />
      </span>
      <span class="" *ngIf="!profile.publicProfileUrl" style="margin-left: 30px">
        <small>inactive profile</small>
      </span>
      <span style="float:right;">{{ profile.firstName }} {{ profile.lastName }}</span>
    </li>
  </ul>
</div>
