/* You can add global styles to this file, and also import other style files */
/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Montserrat:700|Merriweather:400italic');


body{

}

.navbar {
    margin-bottom: 0;
    background-color: #1abc9c;
    z-index: 0;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    opacity: .80;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: blue !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.navbar-brand-centered {
    position: absolute;
    left: 10%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: transparent;
}
.navbar>.container .navbar-brand-centered,
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
}

.modal-content {
  border-radius: 0 !important;
  background-color: eggshell;
  opacity: .85;
}

.badge {
  border-radius: 0 !important;
}
