/* You can add global styles to this file, and also import other style files */
/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Montserrat:700|Merriweather:400italic');


body{

}



.navbar {
    margin-bottom: 0;
    background-color: #1abc9c;
    z-index: 0;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    opacity: .80;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: blue !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.navbar-brand-centered {
    position: absolute;
    left: 10%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: transparent;
}
.navbar>.container .navbar-brand-centered,
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
}

.modal-content {
  border-radius: 0 !important;
  background-color: eggshell;
}

.badge {
  border-radius: 0 !important;
}

.connex {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;

}
.connex li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  margin-bottom: 3px;
  padding: .3em 0;
  height: 1.6em;
}

.connex li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.connex li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.connex .text {
  position: relative;
  top: -3px;
}

.connex .badge {
  border-radius: 0;
  display: inline-block;
  font-size: small;
  color: white;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  margin-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  min-width: 85%;
  text-align: left;

}

.btn-confirm {
  margin-left: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 0;

}

.invites {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
}
.invites li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  margin-bottom: 3px;

}


.invites .text {
  position: relative;
  top: -3px;
}

.invites .badge {
  display: inline-block;
  font-size: small;
  color: white;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  margin-bottom: 3px;
  padding-top: 9px;
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  left: -1px;
  top: -4px;
  text-align: left;
  margin-right: .8em;
  min-width: 40%;

}

.btn-sharp {
  border-radius: 0;
  cursor: pointer;
}

.btn.outline {
    background: none;
    padding: 10px 15px;
}
.btn-default.outline {
    border: 1px solid #577d89;
    color: #577d89;
}
.btn-default.outline:hover, .btn-default.outline:focus, .btn-default.outline:active, .btn-default.outline.active, .open > .dropdown-toggle.btn-default {
    color: #006687;
    border-color: #006687;
}
.btn-default.outline:active, .btn-default.outline.active {
    border-color: #006687;
    color: #006687;
    box-shadow: none;
}
